<footer class="footer d-flex">
	<div class="footer__social">
		<a href="https://twitter.com/phatjme" target="_blank"><img src="/assets/img/twitter.svg" class="footer__icon" alt="twitter icon"></a>
		<a href="https://medium.com/@phatjme" target="_blank"><img src="/assets/img/medium.svg" class="footer__icon" alt="medium icon"></a>
		<a href="https://github.com/phatjme" target="_blank"><img src="/assets/img/github.svg" class="footer__icon" alt="github icon"></a>
		<a href="mailto:james@jamesterry.co.uk" target="_blank"><img src="/assets/img/mail.svg" class="footer__icon" alt="mail icon"></a>
	</div>
	<div class="footer__disclaimer">
		<p class="footer__disclaimer__text">copyright James Terry, 2019</p>
	</div>
</footer>
