<footer class="footer d-flex">
	<div class="footer__social">
		<a href="https://twitter.com/phatjme"><img src="/assets/img/twitter.svg" class="footer__icon"></a>
		<a href="https://medium.com/phatjme"><img src="/assets/img/medium.svg" class="footer__icon"></a>
		<a href="https://github.com/phatjme"><img src="/assets/img/github.svg" class="footer__icon"></a>
		<a href="mailto:hello@jamesterry.co.uk"><img src="/assets/img/mail.svg" class="footer__icon"></a>
	</div>
	<div class="footer__disclaimer">
		<p class="footer__disclaimer__text">copyright James Terry, 2019</p>
	</div>
</footer>
