@import "bootstrap/scss/mixins/_breakpoints";

.abouttext {
	

	@include media-breakpoint-up(md) {
		width: 40%;
	}
}

.pageimage {

	&__image {
		width: 100%;

		@include media-breakpoint-up(md) {
			margin-left: 16px;
		}
	}

	&__text {
		opacity: 0.5;
		font-family: Exo2-Regular;
		font-size: 12px;
		color: #181818;

		@include media-breakpoint-up(md) {
			font-size: 16px;
			margin-left: 16px;
		}
	}
}